[x-cloak] {
	display: none;
}

mark {
	padding-left: 0;
	padding-right: 0;
	background-color: #86ff68;
}

.form-cartridge {
	&:nth-child(odd) {
		background: #fff;
	}

	&:nth-child(even) {
		background: #eceeec;
	}
}

.icon {
	transition: transform .4s ease;
}

.icon_rotated {
	transform: rotateZ(180deg);
}

.sidebar {
	max-height: 100vh;
}

.cursor-pointer {
	cursor: pointer;
}

.text-pre-line {
	white-space: pre-line;
}
